---
apiVersion: onepassword.com/v1
kind: OnePasswordItem
metadata:
  name: "arma-reforger"
  namespace: gaming
spec:
  itemPath: "vaults/Kubernetes/items/bo7ij7tziueojgebxbpvuov55e"
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: arma-mods
  namespace: gaming
data:
  mods.json: |
    [
      {
        "modId": "CAFEBABEF0CACC1A" // freedom fighters plus
      },
      {
        "modId": "EB16A284342F9482" // ff-rhs-persistence-fix
      },
      {
        "modId": "66DE15760F187E40" // ff-whereisthebattle
      },
      {
        "modId": "661F445FF0B4D696" // ff-scar
      },
      {
        "modId": "685767F866F5A6F8" // ff - spawn with a watch
      },
      {
        "modId": "665754CB5D6A728F" // freedom fighters - sonar fix (radio stations)
      },
      {
        "modId": "67269AA718F11901" // freedom fighters logistic (automatic sorting)
      },
      {
        "modId": "606B100247F5C709" // bacon loadout editor
      },
      {
        "modId": "5CA125536EE7430A" // m110 dmr
      },
      {
        "modId": "5AB890B71D748750" // m4 block ii and urg-i
      },
      {
        "modId": "658C0A491D81806C" // nasty glock 18c
      },
      {
        "modId": "6620D014EA017158" // ff - svu-as
      },
      {
        "modId": "59A30ACC02650E71" // night vision system
      },
      {
        "modId": "5C73156675E11A0F" // gm persistent loadouts
      },
      {
        "modId": "5CAB06A845A6DC18" // units map markers
      }
    ]
---
apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    kompose.cmd: kompose -f docker-compose.yml convert
    kompose.version: 1.35.0 (HEAD)
  labels:
    io.kompose.service: arma-reforger
  name: arma-reforger
  namespace: gaming
spec:
  replicas: 1
  selector:
    matchLabels:
      io.kompose.service: arma-reforger
  strategy:
    type: Recreate
  template:
    metadata:
      annotations:
        kompose.cmd: kompose -f docker-compose.yml convert
        kompose.version: 1.35.0 (HEAD)
      labels:
        io.kompose.service: arma-reforger
    spec:
      nodeSelector:
        kubernetes.io/hostname: homelab
      containers:
        - image: ghcr.io/acemod/arma-reforger:latest
          workingDir: /reforger
          name: arma-reforger
          command: ["/bin/bash", "-c"]
          args: # remove comments from mods.json
            - rm -f /reforger/Configs/docker_generated.json && cat /config/mods.json | sed -re 's#^(([^"\n]*"[^"\n]*")*[^"\n]*)\/\/.*$#\1#' > /mods.json && python3 /launch.py
          env:
            - name: GAME_NAME
              value: heywoodlh-arma
            - name: GAME_ADMINS
              value: "76561198268733886"
            - name: GAME_SCENARIO_ID
              value: "{3AD5C3E6BB400639}Missions/FreedomFighters/Kolguyev.conf" # from "freedom fighters plus" dependency "freedom fighters"
            - name: GAME_PROPS_BATTLEYE
              value: "false"
            - name: GAME_SUPPORTED_PLATFORMS
              value: "PLATFORM_PC,PLATFORM_XBL,PLATFORM_PSN"
            - name: SERVER_PUBLIC_ADDRESS
              value: "100.77.128.95"
            - name: GAME_PASSWORD_ADMIN
              valueFrom:
                secretKeyRef:
                  key: password
                  name: arma-reforger
            - name: RCON_PASSWORD
              valueFrom:
                secretKeyRef:
                  key: rcon
                  name: arma-reforger
            - name: GAME_MODS_JSON_FILE_PATH
              value: "/mods.json"
          ports:
            - containerPort: 2001
              protocol: UDP
            - containerPort: 17777
              protocol: UDP
            - containerPort: 19999
              protocol: UDP
          volumeMounts:
            - mountPath: /reforger/Configs
              name: configs
            - mountPath: /home/profile
              name: home-profile
            - mountPath: /root
              name: root
            - mountPath: /reforger/workshop
              name: workshop
            - name: arma-mods
              mountPath: /config/mods.json
              subPath: mods.json
      restartPolicy: Always
      volumes:
        - name: configs
          hostPath:
            path: /media/data-ssd/games/arma-reforger/configs
        - name: home-profile
          hostPath:
            path: /media/data-ssd/games/arma-reforger/home-profile
        - name: root
          hostPath:
            path: /media/data-ssd/games/arma-reforger/root
        - name: workshop
          hostPath:
            path: /media/data-ssd/games/arma-reforger/workshop
        - name: arma-mods
          configMap:
            name: arma-mods
            items:
            - key: mods.json
              path: mods.json
---
apiVersion: v1
kind: Service
metadata:
  annotations:
    kompose.cmd: kompose -f docker-compose.yml convert
    kompose.version: 1.35.0 (HEAD)
    tailscale.com/tags: "tag:arma-reforger"
    tailscale.com/hostname: "arma-reforger"
    tailscale.com/expose: "true"
  labels:
    io.kompose.service: arma-reforger
  name: arma-reforger
  namespace: gaming
spec:
  ports:
    - name: "udp"
      port: 2001
      protocol: UDP
      targetPort: 2001
    - name: "udp1"
      port: 17777
      protocol: UDP
      targetPort: 17777
    - name: "rcon"
      port: 19999
      protocol: UDP
      targetPort: 19999
  selector:
    io.kompose.service: arma-reforger
