#!/usr/bin/env bash
### Super simple systemd alerting
service="{{ ssh_service_name }}.service"

### Pattern to match with `grep -E ...`
grep_regex_pattern='Failed password|Invalid verification code|Invalid user|Accepted publickey|Accepted password|Accepted keyboard-interactive'

### Pattern to exclude with `grep -v -E ...`
grep_exclude_regex_pattern='root from 100.126.114.23|root from 100.98.176.50|backups from 100.108.106.50'

journalctl -u "${service}" -n 0 -f | grep --line-buffered -iE "${grep_regex_pattern}" | grep --line-buffered -ivE "${grep_exclude_regex_pattern}" | while read line
do
    curl -d "${line}" http://ntfy.barn-banana.ts.net/ssh-notifications
done
