deb http://ports.ubuntu.com/ubuntu-ports/ {{ ubuntu_codename }} main restricted
deb http://ports.ubuntu.com/ubuntu-ports/ {{ ubuntu_codename }} multiverse
deb http://ports.ubuntu.com/ubuntu-ports/ {{ ubuntu_codename }} universe
deb http://ports.ubuntu.com/ubuntu-ports/ {{ ubuntu_codename }}-backports main restricted universe multiverse
deb http://ports.ubuntu.com/ubuntu-ports/ {{ ubuntu_codename }}-security main restricted
deb http://ports.ubuntu.com/ubuntu-ports/ {{ ubuntu_codename }}-security multiverse
deb http://ports.ubuntu.com/ubuntu-ports/ {{ ubuntu_codename }}-security universe
deb http://ports.ubuntu.com/ubuntu-ports/ {{ ubuntu_codename }}-updates main restricted
deb http://ports.ubuntu.com/ubuntu-ports/ {{ ubuntu_codename }}-updates multiverse
deb http://ports.ubuntu.com/ubuntu-ports/ {{ ubuntu_codename }}-updates universe
