deb http://archive.ubuntu.com/ubuntu/ {{ ubuntu_codename }} main restricted
deb http://archive.ubuntu.com/ubuntu/ {{ ubuntu_codename }} multiverse
deb http://archive.ubuntu.com/ubuntu/ {{ ubuntu_codename }} universe
deb http://archive.ubuntu.com/ubuntu/ {{ ubuntu_codename }}-backports main restricted universe multiverse
deb http://archive.ubuntu.com/ubuntu/ {{ ubuntu_codename }}-updates main restricted
deb http://archive.ubuntu.com/ubuntu/ {{ ubuntu_codename }}-updates multiverse
deb http://archive.ubuntu.com/ubuntu/ {{ ubuntu_codename }}-updates universe
deb http://security.ubuntu.com/ubuntu/ {{ ubuntu_codename }}-security main restricted
deb http://security.ubuntu.com/ubuntu/ {{ ubuntu_codename }}-security multiverse
deb http://security.ubuntu.com/ubuntu/ {{ ubuntu_codename }}-security universe
